<div class="container">
  <div class = "aboutme">
        <div class="pushdown"></div>
        <div class="mypic-caption">
              <img src="/ShrutiVangari.jpg" class="img-circle mypic">
              <h3 class="text-left dreamer"> Dreamer Coder Achiever</h3>
        </div>
        <div class="pushdown-text"></div>
        <div class="aboutme-text">
              <p class="text-justify writeup"> I am a Software Developer with over 6 years of experience in the software industry. My passion to code started when I was a kid and it led me to graduate with a Masters degree in Computer Science. I have learnt various technologies and programming languages while working as an intern and as a full time developer in both startups and well-established organizations. As a <strong> full stack engineer </strong> I had the oppurtunity to explore and learn several frontend frameworks and design services. Currently my latest field of interest is in <strong> Big Data and DevOps </strong> - two unexplored thrilling fields I am looking forward to work in. I love challenging tasks and I am a quick learner! You can reach out to me if you feel I can contribute to your organization <a href="mailto:vangari.shruti@gmail.com">here</href></p>
        </div>
  </div>
</div>