<div class="container">
  <div class = "aboutme">
        <div class="pushdown"></div>
        <div class="mypic-caption">
              <img src="/ShrutiVangari.jpg" class="img-circle mypic">
              <h3 class="text-left dreamer"> Dreamer Coder Achiever</h3>
        </div>
        <div class="pushdown-text"></div>
        <div class="aboutme-text">
              <p class="text-justify writeup"> I am a Software Developer with over 6 years of experience in the software industry and I have worked on various technologies mostly as a full stack engineer. I love challenging tasks and I am a quick learner! I love exploring oppurtuinities in various fields and my latest field of interest is in Big Data. </p>
        </div>
  </div>
</div>