<div class="placeholder">
        <div class="page-header"> <h4 > Awards and Achievements </h4></div>
        <p class="lead">
              <ul>
                <li> Runner Up Team at “Code for Good Challenge” by J.P. Morgan Chase for developing a web app in 2013 </li>
                <li> “Best Poster award” awarded by UASIS The University of Akron for “OASIS data collection” in 2013 </li>
                <li> 2nd prize, Poster Presentation on Nanocomputing at MGIT, India at a national technical fest in 2008 </li>
                <li> 1st prize, Intra-college Throw Ball Competition in VNR VJIET, India at a national technical fest in 2008 </li>
                <li> 2nd prize, Paper Presentation on Nanoelectronics at VNR VJIET, India at a national technical fest in 2006 </li>
                <li> Ranked in the top 13% for “National IT Aptitude Test” conducted by NIIT, India a global company in 2005 </li>
                <li> Stood 43rd in the Young Mathematician Contest conducted by Society for Promotion of Young Mathematicians & Scientists in 2001</li>
              </ul>
        </p>
        <div class="page-header"> <h4 > Leadership </h4></div>
        <p class="lead">
            <ul>
                <li> As a Team Leader organized a technical event for the IEEE student chapter at VNR VJIET, India in 2009 </li>
                <li> Was a member of the Executive Committee of the IEEE Student Branch, VNR VJIET, India for 2007-2008 </li>
                <li> Organized a workshop “Digital Signal Processing and Embedded Systems” for VLSI Society of India in 2008 </li>
                <li> Best Organizer Award for conducting the Paper Presentations Event at VNR VJIET, India in 2007 </li>
            </ul>
        </p>
</div>