<div class="placeholder">
        <div class="page-header"> <h4 > Awards and Achievements </h4></div>
        <p class="lead">
              <ul>
                <li> <strong>Runner Up Team</strong> at “Code for Good Challenge” by J.P. Morgan Chase for developing a web app in 2013 </li>
                <li> <strong>“Best Poster award” </strong>awarded by UASIS The University of Akron for “OASIS data collection” in 2013 </li>
                <li> <strong>“Infosys Spot Award” </strong> for best skill in resolving a major incident and saving $50million at Infosys in 2011 </li>
                <li> <strong>2nd prize</strong>, Poster Presentation on Nanocomputing at MGIT, India at a national technical fest in 2008 </li>
                <li> <strong>1st prize</strong>, Intra-college Throw Ball Competition in VNR VJIET, India at a national technical fest in 2008 </li>
                <li> <strong>2nd prize</strong>, Paper Presentation on Nanoelectronics at VNR VJIET, India at a national technical fest in 2006 </li>
                <li> Ranked in the <strong>top 13% </strong>for “National IT Aptitude Test” conducted by NIIT, India a global company in 2005 </li>
                <li> Stood <strong>43rd</strong> in the Young Mathematician Contest conducted by Society for Promotion of Young Mathematicians & Scientists in 2001</li>
              </ul>
        </p>
        <div class="page-header"> <h4 > Leadership </h4></div>
        <p class="lead">
            <ul>
                <li> As an <strong>Executive Core Member</strong> of the Indian Student Association at the Univerisy of Akron organized several events and workshops in 2012</li>
                <li> As a <strong>administrator</strong> at the Univerisy of Akron organized workshops to teach employees about workflows in NOLIJ in 2012 </li>
                <li> As a <strong>Team Leader</strong>organized a technical event for the IEEE student chapter at VNR VJIET, India in 2009 </li>
                <li> Was a member of the <strong>Executive Committee</strong> of the IEEE Student Branch, VNR VJIET, India for 2007-2008 </li>
                <li> Organized a workshop “Digital Signal Processing and Embedded Systems” for <strong>VLSI Society of India</strong> in 2008 </li>
                <li> <strong>Best Organizer Award</strong> for conducting the Paper Presentations Event at VNR VJIET, India in 2007 </li>
            </ul>
        </p>
</div>