<div class="placeholder">
    <div class="page-header"> <h4 > Software Engineer at Cerner Corporation </h4></div>
        <p class="lead">
            <h5> Kansas City, Missouri </h5>
            <h6> Feb '14 - Now (1 year 8 months) </h6>
              <p class="text-justify"> Worked on both small teams in a start up environment and large teams to help develop several healthcare applications with a test-driven development and agile approach. As a full stack developer worked on adding new features, fixing defects, improvising the performance of existing services, reducing running time; designing, creating, developing and testing applications </p>
                <p> <em> Technology stack: </em> Ruby on Rails, LESS, Java, Ruby, Angular JS, Knockout JS, REST, SQL, Twitter Bootstrap, JRuby, Git, Tortoise SVN, Jenkins </p>
        </p>
    <div class="page-header"> <h4> Software Development Intern at Engineering Consultants Group. Inc </h4></div>
        <p class="lead">
            <h5> Fairlawn, Ohio </h5>
            <h6>Jan '13 - Dec '13 (11 months) </h6>
              <p class="text-justify"> Worked as a developer in a startup environment where I created an industrial automated application that monitors real time data from plant equipment that analyzes live coal, gas, wind data. I also improvised the functionality of a plot algorithm and reduced time from 6mins to 30sec </p>
              <p> <em>Technology stack: </em> VB.NET, ASP.NET, OPC (Open Platform Communications), PI (Process Integration)</p>
        </p>
    <div class="page-header"><h4> Software Development Co-op at Philips Healthcare </h4></div>
        <p class="lead">
            <h5> Cleveland, Ohio </h5>
            <h6>May '12 - Dec '12 (7 months) </h6>
              <p class="text-justify"> Contributed to adding new features to a PET/CT (Positron Emission Tomography–Computed Tomography) medical application. Tested, fixed, verified defects to ensure compliance with FDA standards for accuracy and safety </p>
              <p> <em> Technology stack:  </em> C# .NET, ASP .NET, Tortoise SVN, AutoIT for automated testing </p>
        </p>
    <div class="page-header"> <h4> Graduate Assistant at The University of Akron </h4></div>
        <p class="lead">
            <h5> Computer Center, The University of Akron, Ohio </h5>
            <h6>Oct '11 - May '12 (8 months) </h6>
              <p class="text-justify"> As a campus administrator, automated inter-department flows for a Document Imaging Software. Organized, trained office administrators to use the imaging software through successful workshops </p>
              <p> <em> Technology stack: </em> C# .NET, SQL, NOLIJ – A Document and Imaging Management Software </p>
        </p>
    <div class="page-header"><h4> Teaching Assistant at The University of Akron </h4></div>
        <p class="lead">
            <h5> Department of Computer Science, The University of Akron, Ohio </h5>
            <h6>Aug '11 - Dec '11 (5 months) </h6>
              <p class="text-justify"> Graded under-graduate student’s quizzes, assignments and labs, guided students in their lab work, clarified concepts during office hours for the course "Essentials of Computer Science". </p>
              <p> <em> Topics taught: </em> Computing systems, data representation, hardware, programming topics, and important applications such as networks, robotics, databases, and gaming </p>
        </p>
    <div class="page-header"><h4> Web Administrator at The University of Akron</h4></div>
        <p class="lead">
              <h5> Indian Student Association, The Univeristy of Akron, Ohio </h6>
                <h6> May '12- Jun '13 (1 month) </h5>
              <p class="text-justify"> Was an active blogger for the organization at - http://isa-drishti.blogspot.com/ Also created a website on the internal network to help Indians socialize and find help. </p>
            </p> <em> Technology stack: </em> HTML, CSS, JS </p>
        </p>
    <div class="page-header"><h4> Software Engineer at Infosys </h4></div>
        <p class="lead">
            <h5> Hyderabad, India </h5>
            <h6>Oct '09 - Jul '11 (22 months) </h6>
              <p class="text-justify"> Ensured successful B2B flow for EDI (Electronic Data Interchange) data on Microsoft BizTalk servers. Published internal technical articles on BizTalk ETL (Extract-Transform-Load) workflows. Was promoted from Technical Analyst (Level 1) to Technical Analyst (Level 2) to Incident Coordinator. Resolved several major incidents, saved $50million; won the Infosys Spot Award for my performance </p>
              <p> <em> Technology stack: </em> SQL, Microsoft BizTalk, C#, ASP, ADO .NET, EDI, Microsoft Feedstore </p>
        </p>
            <div class="page-header"><h4> Intern at Electronics Corporation of India Ltd. </h4></div>
        <p class="lead">
              <h5> Hyderabad, India</h6>
                <h6> May '08 - Jun '08 (1 month) </h5>
              <p class="text-justify"> During my internship, I was exposed to these new electronic meters which were yet to be released into the market. Apart from learning about their functionality and inbuilt circuitry, I also had an opportunity to watch engineers design the circuit boards. I also performed various tests such as dial test, calibration test, accuracy test, starting current test etc to evaluate the accuracy and reliability of these meters. In my first internship, I was exposed to the work culture of a very large government organization, where critical work was being undertaken. </p>
        </p>
    <div class="page-header"><h4> Intern at Bharat Heavy Electrical Ltd. </h4></div>
        <p class="lead">
            <h5> Hyderabad, India </h5>
            <h6>Nov '07 - Dec '07 (1 month) </h6>
              <p class="text-justify"> My role was to study the specifics and technology used to build the power plant built in Bangladesh. I studied the various components of the DCS – the fuel system, the cooling water system, the gas turbine controls, the software configuration, hardware controls and the cost estimated with each control while building the system.</p>
        </p>
</div>