<div class="placeholder">
      <div class="page-header">
          <h4>
              <a class="btn btn-social-icon btn-github" href="https://github.com/shrutivangari/MyWebSite" target="_blank">
                  <i class="fa fa-github"></i>
              </a>
              My website
          </h4>
      </div>
      <p class="lead">
          <p class="text-justify"> Made using Ruby on Rails, Twitter Bootstrap and Less. Deployed on Heruoku. </p>
      </p>
      <div class="page-header">
          <h4>
              <a class="btn btn-social-icon btn-github" href="https://github.com/srinivasgumdelli/can-i-eat-this" target="_blank">
                <i class="fa fa-github"></i>
              </a>
              Can-I-Eat-This
          </h4>
      </div>
      <p class="lead">
          <p class="text-justify"> This is a smart app that my friends and I are currently developing using Ruby on Rails. It can help a user check if a certain food could be eaten in a particular disease/condition. For eg, lets say that a user wants to check if they can eat Carrots when you have Cataract, the app would say "Yes"! </p>
      </p>
      <div class="page-header">
          <h4>
              <a class="btn btn-social-icon btn-github" href="https://github.com/shrutivangari/HackMidwest" target="_blank">
                <i class="fa fa-github"></i>
              </a>
              Can-I-Eat-This-Android
            </h4>
      </div>
      <p class="lead">
        <p class="text-justify"> Can-I-Eat-This as an android app! My friends and I worked on developing this app for a Hackathon at HackWidwest. Apart from letting the user decide if a food can be eaten in a particular condition, it will also give a list of recommended foods and calulate the nutrients and micronutrients, vitamins and chemicals a food is composed of based on the recommendation engine written in Ruby. </p>
      </p>
      <div class="page-header">
          <h4>
              <a class="btn btn-social-icon btn-github" href="https://github.com/shrutivangari/SOSapp" target="_blank">
                <i class="fa fa-github"></i>
               </a>
               SOS App
          </h4>
      </div>
      <p class="lead">
            <p class="text-justify"> Based on Garmin's <a href="http://developer.garmin.com/connect-iq/overview/">connectIQ</a> my friend and I developing an app that read's a user's heart rate as an input and determines if the person is in danger and sends out an SOS alert. The higher heart rate is associated with higher levels of stress. A user friendly option of turning off the app while working out would be provided. </p>
      </p>
</div>