<div class="container">
  <div class="page-header">
    <h1 id="timeline">Professional Experience</h1>
  </div>
  <ul class="timeline">
    <li>
      <div class="timeline-badge"><i class="glyphicon glyphicon-check"></i></div>
      <div class="timeline-panel">
        <div class="timeline-heading">
          <h4 class="timeline-title"> Software Engineer @ Cerner Corporation</h4>
          <p><small class="text-muted"><i class="glyphicon glyphicon-time"></i> Feb 2014 - Now (21 months) </small></p>
        </div>
        <div class="timeline-body">
          <p class="text-justify"> My passion for working in the healthcare industry quadrupled when I started working at Cerner Corporation as a Software Engineer. I had oppurtunities to work in both startup environment based teams and on very large teams. I helped develop several healthcare applications in a test-driven development and an agile approach. As a full stack developer, I worked on adding new features, fixing defects, improving performance, reducing running time, designing, creating, testing and releasing applications. </p>
          <p> <em> Technology stack: </em> Ruby, RSpec, Ruby on Rails, Java, Maven, Mockito, REST, JUnit, LESS, Grunt, Angular JS, Knockout JS, SQL, Twitter Bootstrap, Git, Tortoise SVN, Jenkins, JIRA </p>
        </div>
      </div>
    </li>
    <li class="timeline-inverted">
      <div class="timeline-badge warning"><i class="glyphicon glyphicon-credit-card"></i></div>
      <div class="timeline-panel">
        <div class="timeline-heading">
          <h4 class="timeline-title"> Software Development Intern @ Engineering Consultants Group, Inc.</h4>
          <p><small class="text-muted"><i class="glyphicon glyphicon-time"></i> Jan 2013 - Dec 2013 (11 months) </small></p>
        </div>
        <div class="timeline-body">
          <p class="text-justify"> Worked as an intern in a startup environment where I created an industrial automated application that monitors real time data from plant equipment that analyzes live coal, gas, wind data. I also improvised the functionality of a plot algorithm and reduced time from 6mins to 30sec </p>
              <p> <em>Technology stack: </em> VB.NET, ASP.NET, OPC (Open Platform Communications), PI (Process Integration)</p>
        </div>
      </div>
    </li>
    <li >
      <div class="timeline-badge danger"><i class="glyphicon glyphicon-credit-card"></i></div>
      <div class="timeline-panel">
        <div class="timeline-heading">
          <h4 class="timeline-title"> Software Developemtn Co-op @ Philips Healthcare </h4>
          <p><small class="text-muted"><i class="glyphicon glyphicon-time"></i> May 2012 - Dec 2012 </small></p>
        </div>
        <div class="timeline-body">
          <p class="text-justify"> My first experience ever in the healthcare industry started with my internship at Philips. I worked on adding new features to a PET/CT (Positron Emission Tomography–Computed Tomography) medical application - which is currently in use in hospitals. It gives me a sense of satisfaction to know that I was an integral part of a system that saves millions of lives everyday. I also tested, fixed, verified defects to ensure compliance with FDA standards. </p>
              <p> <em> Technology stack:  </em> C# .NET, ASP .NET, Tortoise SVN, AutoIT for automated testing </p>
        </div>
      </div>
    </li>
    <li  class="timeline-inverted">
      <div class="timeline-badge danger"><i class="glyphicon glyphicon-credit-card"></i></div>
      <div class="timeline-panel">
        <div class="timeline-heading">
          <h4 class="timeline-title">Graduate Assistant @ The University of Akron</h4>
           <p><small class="text-muted"><i class="glyphicon glyphicon-time"></i> Oct 2011 - May 2012 </small></p>
        </div>
        <div class="timeline-body">
          <p class="text-justify"> As a campus administrator, automated inter-department flows for a Document Imaging Software that stores documents. Organized, trained office administrators to use the imaging software through successful workshops. </p>
              <p> <em> Technology stack: </em> C# .NET, SQL, NOLIJ – A Document and Imaging Management Software </p>
        </div>
      </div>
    </li>
    <li>
      <div class="timeline-badge info"><i class="glyphicon glyphicon-floppy-disk"></i></div>
      <div class="timeline-panel">
        <div class="timeline-heading">
          <h4 class="timeline-title"> Teaching Assistant @ The University of Akron </h4>
          <p><small class="text-muted"><i class="glyphicon glyphicon-time"></i> Aug 2011 - Dec 2011 </small></p>
        </div>
        <div class="timeline-body">
            <p class="text-justify"> Graded under-graduate student’s quizzes, assignments and labs, guided students in their lab work, clarified concepts during office hours for the course "Essentials of Computer Science". </p>
              <p> <em> Topics taught: </em> Computing systems, data representation, hardware, programming topics, and important applications such as networks, robotics, databases, and gaming </p>
      </div>
    </div>
    </li>
    <li class="timeline-inverted">
      <div class="timeline-badge info"><i class="glyphicon glyphicon-floppy-disk"></i></div>
      <div class="timeline-panel">
        <div class="timeline-heading">
          <h4 class="timeline-title">Web Administrator @ The University of Akron</h4>
          <p><small class="text-muted"><i class="glyphicon glyphicon-time"></i> May 2012 - May 2013 </small></p>
        </div>
        <div class="timeline-body">
          <p class="text-justify"> Volunteered to work as a web administrator for the Indian Student Association at the University of Akron. I had an oppurtunity to help fellow Indians through blog posts, organizing events, helping new students go through a smooth transition to settle in. Was an active blogger for the organization at
            <a href="http://isa-drishti.blogspot.com/">Link</a> </p>
            </p> <em> Technology stack: </em> HTML, CSS, JS </p>
        </div>
      </div>
    </li>
    <li>
      <div class="timeline-badge success"><i class="glyphicon glyphicon-thumbs-up"></i></div>
      <div class="timeline-panel">
        <div class="timeline-heading">
          <h4 class="timeline-title"> Software Engineer @ Infosys </h4>
          <p><small class="text-muted"><i class="glyphicon glyphicon-time"></i> Oct 2009 - Jul 2011 </small></p>
        </div>
        <div class="timeline-body">
          <p class="text-justify"> Worked in a team of 8 for our client - Microsoft. Here I had an oppurtunity to work on and learn the .NET framework and several technologies internal to Microsoft. Ensured successful B2B flow for EDI (Electronic Data Interchange) data on Microsoft BizTalk servers. Published internal technical articles on BizTalk ETL (Extract-Transform-Load) workflows. I was promoted from Technical Analyst (Level 1) to Technical Analyst (Level 2) to Incident Coordinator. Resolved several major incidents, saved $50million; won the Infosys Spot Award for my performance </p>
              <p> <em> Technology stack: </em> SQL, Microsoft BizTalk, C#, ASP, ADO .NET, EDI, Microsoft Feedstore </p>
        </div>
      </div>
    </li>
     <li class="timeline-inverted">
      <div class="timeline-badge"><i class="glyphicon glyphicon-check"></i></div>
      <div class="timeline-panel">
        <div class="timeline-heading">
          <h4 class="timeline-title"> Intern @ Electronics Corporation of India Ltd. (ECIL) </h4>
          <p><small class="text-muted"><i class="glyphicon glyphicon-time"></i> May 2008 - Jun 2008</small></p>
        </div>
        <div class="timeline-body">
          <p class="text-justify"> During my internship, I was exposed to these new electronic meters which were yet to be released into the market. Apart from learning about their functionality and inbuilt circuitry. I was exposed to the work culture of a very large government organization, where critical work was being undertaken.  </p>
        </div>
      </div>
    </li>
     <li>
      <div class="timeline-badge"><i class="glyphicon glyphicon-check"></i></div>
      <div class="timeline-panel">
        <div class="timeline-heading">
          <h4 class="timeline-title"> Intern @ Bharat Heavy Electrical Ltd. (BHEL) </h4>
          <p><small class="text-muted"><i class="glyphicon glyphicon-time"></i> Nov 2007 - Dec 2007</small></p>
        </div>
        <div class="timeline-body">
          <p class="text-justify"> My passion for science brought me to my first internship to study the specifications and technology used in a power plant design. I studied the various components of the DCS (Distributed Control System) – the fuel system, the cooling water system, the gas turbine controls, the software configuration, hardware controls and the cost estimated with each control while building the system. </p>
        </div>
      </div>
    </li>
  </ul>
</div>