<div class="placeholder">
      <div class="page-header">
          <h4>
              <a class="btn btn-social-icon btn-github" href="https://github.com/shrutivangari/visualization-medical-imaging" target="_blank">
                  <i class="fa fa-github"></i>
              </a>
              Medical Imaging and Visualization
          </h4>
      </div>
      <p class="lead">
          <p class="text-justify"> Developed an imaging application using Canny edge detection to help doctors detect cancer faster </p>
          <p> <em> Technologies: </em> VTK (Visualization Tool Kit) and ITK (Insight Segmentation & Registration toolkit) in C++ </p>
      </p>
      <div class="page-header">
          <h4>
              <a class="btn btn-social-icon btn-github" href="https://github.com/shrutivangari/Feature-based-classification" target="_blank">
                <i class="fa fa-github"></i>
              </a>
              Feature Based Classification of Product Reviews
          </h4>
      </div>
      <p class="lead">
          <p class="text-justify"> Applied Data Mining NLP techniques to customer reviews on Nokia phones through feature extraction </p>
          <p> <em> Technologies: </em> WEKA, ROSE2, Net Beans IDE (Java), Stanford Core NLP </p>
      </p>
      <div class="page-header">
          <h4>
              <a class="btn btn-social-icon btn-github" href="https://github.com/shrutivangari/video-compression-cuda" target="_blank">
                <i class="fa fa-github"></i>
              </a>
              Time Reduction in Video Compression Using the SAD Algorithm in CUDA
            </h4>
      </div>
      <p class="lead">
          <p class="text-justify"> Implemented the SAD algorithm in CUDA using various Parallel Processing techniques and decreased the time to implement SAD from 40 seconds in CPU code to less than 5 seconds in GPU code </p>
          <p> <em> Technologies: </em> Matlab, CUDA, C, Pinnacle Studio </p>
      </p>
      <div class="page-header">
          <h4>
              <a class="btn btn-social-icon btn-github" href="https://github.com/shrutivangari/RAD-tools-android-ios" target="_blank">
                <i class="fa fa-github"></i>
               </a>
               Application Builder RAD Tools for Android & iOS
          </h4>
      </div>
      <p class="lead">
            <p class="text-justify"> Study conducted for Software Engineering Methods on the comparison of the Rapid Application Development (RAD) tools used to develop mobile applications for iOS and Android. </p>
      </p>
      <div class="page-header">
          <h4>
              <a class="btn btn-social-icon btn-github" href="https://github.com/shrutivangari/Voting-Methods-NLP" target="_blank">
                <i class="fa fa-github"></i>
              </a>
              Voting Methods - an NLP approach
            </h4>
      </div>
      <p class="lead">
           <p class="text-justify"> Adapted from the Stanford Encyclopedia of Philosophy, implemented Artificial Intelligence in Voting </p>
          <p> <em> Technologies: </em> Net Beans IDE, WEKA, CLISP </p>
      </p>
      <div class="page-header">
          <h4>
                <a class="btn btn-social-icon btn-github" href="https://github.com/shrutivangari/Genre-NLP-Research" target="_blank">
                    <i class="fa fa-github"></i>
                </a>
               Genre Based Sentimental Analysis of Movies using NLP
          </h4>
      </div>
      <p class="lead">
           <p class="text-justify"> Applied Sentimental Analysis to movie reviews from IMDB to rank genre based popularity of movies </p>
          <p> <em> Technologies: </em> Net Beans IDE, WEKA, Stanford Core NLP
      </p>
      <div class="page-header">
            <h4>
                <a class="btn btn-social-icon btn-github" href="https://github.com/shrutivangari/video-compression-matlab" target="_blank">
                    <i class="fa fa-github"></i>
                </a>
                Video Compression Using SAD Algorithm
            </h4>
      </div>
      <p class="lead">
          <p class="text-justify">Implemented an IEEE proposal for the SAD (Sum of Absolute Differences) algorithm and eliminated the need for re-transmission of redundant data by compressing the video to 86% of its size </p>
          <p> <em> Technologies: </em> Modelsim, Matlab, Multisim, MASM, Pinnacle Studio </p>
      </p>
     <!--  <div class="page-header"> <h4> Bank Application – ICICI transaction and Travel Application – BookmyTrip </h4></div>
      <p class="lead">
            <p class="text-justify">Developed two prototype web sites in a team of four to offer the best user friendly graphical interface </p>
            <p> <em> Technologies: </em> C#.NET, ASP.NET, ADO.NET, Web Services, CSS, HTML, SQL Server (backend) </p>
      </p> -->
</div>