<div class="container">
  <div class="page-header">
    <h1 id="timeline">Timeline</h1>
  </div>
  <ul class="timeline">
    <li>
      <div class="timeline-badge"><i class="glyphicon glyphicon-check"></i></div>
      <div class="timeline-panel">
        <div class="timeline-heading">
          <h4 class="timeline-title"> Software Engineer @ Cerner Corporation</h4>
          <p><small class="text-muted"><i class="glyphicon glyphicon-time"></i> Feb 2014 - Now</small></p>
        </div>
        <div class="timeline-body">
          <p> My passion for working in the healthecare industry quadrupled when I started working at Cerner Corporation as a Software Engineer. Got a change to explore and learn all about the new technology stack out there - Ruby, Ruby on Rails. Played a lot with the frontend side - from Bootstrap to Angular JS.</p>
        </div>
      </div>
    </li>
    <li class="timeline-inverted">
      <div class="timeline-badge warning"><i class="glyphicon glyphicon-credit-card"></i></div>
      <div class="timeline-panel">
        <div class="timeline-heading">
          <h4 class="timeline-title"> Software Development Intern @ Engineering Consultants Group, Inc.</h4>
          <p><small class="text-muted"><i class="glyphicon glyphicon-time"></i> Jan 2013 - Dec 2013</small></p>
        </div>
        <div class="timeline-body">
          <p> Total number of employees in the company = 15</p>
          <p> Total number of software developers in the company = 3</p>
          <p> Worked in a startup environment where I learnt all about the automation industry. Enjoyed creating apps and websites in the .NET framework</p>
        </div>
      </div>
    </li>
    <li >
      <div class="timeline-badge danger"><i class="glyphicon glyphicon-credit-card"></i></div>
      <div class="timeline-panel">
        <div class="timeline-heading">
          <h4 class="timeline-title"> Software Developemtn Co-op @ Philips Healthcare </h4>
          <p><small class="text-muted"><i class="glyphicon glyphicon-time"></i> May 2012 - Dec 2012 </small></p>
        </div>
        <div class="timeline-body">
          <p> My first experience ever in the healthcare industry started with my internship at Philips. I worked adding new features to a medical application - which is currently in use in hospitals. It gives me a sense of satisfaction to know that I am an integral part of a system that saves millions of lives everyday. </p>
        </div>
      </div>
    </li>
    <li  class="timeline-inverted">
      <div class="timeline-badge danger"><i class="glyphicon glyphicon-credit-card"></i></div>
      <div class="timeline-panel">
        <div class="timeline-heading">
          <h4 class="timeline-title">Graduate Assistant @ The University of Akron</h4>
           <p><small class="text-muted"><i class="glyphicon glyphicon-time"></i> Oct 2011 - May 2012 </small></p>
        </div>
        <div class="timeline-body">
          <p> Apart from the fee waiver - which was quiet a relief I got an awesome oppurtunity to learn about document management softwares and processes used at my university. This job helped me refine my coding skills in C# .NET, helped me improvise my inter personal skills while helping administrative assistants across my university while I helped them resolve issues and retrieve the data that they needed.</p>
        </div>
      </div>
    </li>
    <li>
      <div class="timeline-badge info"><i class="glyphicon glyphicon-floppy-disk"></i></div>
      <div class="timeline-panel">
        <div class="timeline-heading">
          <h4 class="timeline-title"> Teaching Assistant @ The University of Akron </h4>
          <p><small class="text-muted"><i class="glyphicon glyphicon-time"></i> Aug 2011 - Dec 2011 </small></p>
        </div>
        <div class="timeline-body">
          <p> My first job ever in my dream country and it taught me the most important thing - patience. I learnt how to answer very basic questions to helping students understand the beauty of logic in solving problems. It was an awesome experience to help teach a class of computer science enthusiasts how they could pursue a career in any field from healthcare to robotics. </p>
      </div>
    </li>
    <li class="timeline-inverted">
      <div class="timeline-badge info"><i class="glyphicon glyphicon-floppy-disk"></i></div>
      <div class="timeline-panel">
        <div class="timeline-heading">
          <h4 class="timeline-title">Web Administrator @ The University of Akron</h4>
          <p><small class="text-muted"><i class="glyphicon glyphicon-time"></i> May 2012 - May 2013 </small></p>
        </div>
        <div class="timeline-body">
          <p> Volunteered to work as a web administrator for the Indian Student Association at my university. Here I had an oppurtunity to help fellow Indians through blog posts, organizing events, helping new students go through a smooth transition process to settle in. </p>
        </div>
      </div>
    </li>
    <li>
      <div class="timeline-badge success"><i class="glyphicon glyphicon-thumbs-up"></i></div>
      <div class="timeline-panel">
        <div class="timeline-heading">
          <h4 class="timeline-title"> Software Engineer @ Infosys </h4>
          <p><small class="text-muted"><i class="glyphicon glyphicon-time"></i> Oct 2009 - Jul 2011 </small></p>
        </div>
        <div class="timeline-body">
          <p> Worked in a team of 8 for our client - Microsoft. Here I had an oppurtunity to work on and learn the .NET framework and several technologies internal to Microsoft. I was promoted from Technical Analyst (Level 1) to Technical Analyst (Level 2) to Incident Coordinator. I also helped resolve several major incidents and saved $50million; won the Infosys Spot Award for my performance </p>
        </div>
      </div>
    </li>
     <li class="timeline-inverted">
      <div class="timeline-badge"><i class="glyphicon glyphicon-check"></i></div>
      <div class="timeline-panel">
        <div class="timeline-heading">
          <h4 class="timeline-title"> Intern @ Electronics Corporation of India Ltd. (ECIL) </h4>
          <p><small class="text-muted"><i class="glyphicon glyphicon-time"></i> May 2008 - Jun 2008</small></p>
        </div>
        <div class="timeline-body">
          <p> During my internship, I was exposed to these new electronic meters which were yet to be released into the market. Apart from learning about their functionality and inbuilt circuitry. I was exposed to the work culture of a very large government organization, where critical work was being undertaken.  </p>
        </div>
      </div>
    </li>
     <li>
      <div class="timeline-badge"><i class="glyphicon glyphicon-check"></i></div>
      <div class="timeline-panel">
        <div class="timeline-heading">
          <h4 class="timeline-title"> Intern @ Bharat Heavy Electrical Ltd. (BHEL) </h4>
          <p><small class="text-muted"><i class="glyphicon glyphicon-time"></i> Nov 2007 - Dec 2007</small></p>
        </div>
        <div class="timeline-body">
          <p> My passion for science brought me to my first internship to study the specifications and technology used in a power plant design. I studied the various components of the DCS – the fuel system, the cooling water system, the gas turbine controls, the software configuration, hardware controls and the cost estimated with each control while building the system. </p>
        </div>
      </div>
    </li>
  </ul>
</div>